@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .chat-container {
    padding: 20px;
    background-color: #ece5dd;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .chat-header {
    text-align: center;
    margin-bottom: 20px;
    color: #075e54;
  }

  .chat-list {
    flex-grow: 1;
    overflow-y: auto;
  }

  .chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .message-content {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    position: relative;
    margin-left: 10px;
    word-wrap: break-word;
  }

  .message-header {
    font-weight: bold;
    color: #075e54;
  }

  .message-text {
    margin-top: 5px;
    white-space: pre-wrap;
  }

  .message-time {
    display: block;
    text-align: right;
    color: #999;
    font-size: 0.8rem;
    margin-top: 5px;
  }

  .chat-message .MuiAvatar-root {
    margin-top: 5px;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
